
.icon-adress:before { content: '\e800'; } /* '' */
.icon-today:before { content: '\e801'; } /* '' */
.icon-peoples:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-shape_unactive:before { content: '\e804'; } /* '' */
.icon-close:before { content: '\e805'; } /* '' */
.icon-logo-sidebar:before { content: '\e806'; } /* '' */
.icon-prev:before { content: '\e807'; } /* '' */
.icon-phone:before { content: '\e808'; } /* '' */
.icon-book:before { content: '\e80c'; } /* '' */
.icon-login:before { content: '\e80d'; } /* '' */
.icon-calendar:before { content: '\e80e'; } /* '' */
.icon-plan:before { content: '\e80f'; } /* '' */
.icon-main:before { content: '\e810'; } /* '' */
.icon-edit:before { content: '\e811'; } /* '' */
.icon-history:before { content: '\e812'; } /* '' */
.icon-user_outline:before { content: '\e813'; } /* '' */
.icon-exit:before { content: '\e814'; } /* '' */
.icon-100:before { content: '\e815'; } /* '' */
.icon-clock:before { content: '\e816'; } /* '' */
.icon-file:before { content: '\e817'; } /* '' */
.icon-triangle:before { content: '\e818'; } /* '' */
.icon-calendar2:before { content: '\e819'; } /* '' */
.icon-hamb:before { content: '\e822'; } /* '' */
.icon-vector:before { content: '\e82a'; } /* '' */