.wrapper {
    display: flex;
    overflow-x: hidden;
}

.left-sidebar {
    background-color: #0077C1;
    font-size: 16rem;
    color: #fff;
    width: 192px;
    padding-top: 24px;
    padding-left: 24px;
    position: relative;
    min-height: 100vh;
}

a.left-sidebar__logo {
    font-size: 46rem;
    border: 4px solid #fff;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 7px;
    margin-left: 49px;
}

.left-sidebar__navigation a {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #81C6FF;
    display: flex;
    padding-bottom: 15px;
    padding-top: 15px;
    align-items: center;
}

.left-sidebar__navigation a:hover {
    color: #bcddf9;
}

.left-sidebar__navigation a i.icon {
    font-size: 34px;
    margin-right: 12px;
}

.left-sidebar__navigation a.active-link {
    color: #fff;
}

.left-sidebar__navigation a.active-link::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 14.5px 19px 14.5px 0;
    border-color: transparent #F5F6F8 transparent transparent;
    line-height: 0px;
    _border-color: #000000 #F5F6F8 #000000 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

.left-sidebar .icon:before {
    margin: 0;
}

.left-sidebar__phone {
    margin-top: 150px;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.left-sidebar__footer {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #EEEEEE;
    position: absolute;
    bottom: 18px;
    text-align: center;
    width: 100%;
    left: 0;
}


.content {
    flex: 1;
    background: #F5F6F8;
    font-size: 12rem;
    padding: 24px;
}

.content__header {
    display: flex;
    padding: 24px;
    justify-content: space-between;
    align-items: flex-end;
    width: 744px;
}

.content__header h1 {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #000000;
}

.content__header p {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #646464;
}

.content__header .logout {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #42A5F5;
}
.content__header .logout:hover {
    color: rgb(57, 141, 209);
}

.content__body {
    width: 744px;
    background-color: #fff;
    padding: 24px;
}



.row {
    display: flex;
    align-items: center;
}

.field input,
.field select,
.field textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    padding: 18px 18px 15px 38px;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #646464;
    background-color: #f5f5f5;
    border-radius: 4px 4px 0px 0px;
    border: none;
    border-bottom: 1px solid #0077C1;
    width: 100%;
}

.field {
    position: relative;
    display: inline-block;
}

.field>.icon {
    position: absolute;
    left: 7px;
    top: 20px;
    font-size: 16px;
    color: #adadad;
    font-family: "Roboto", Arial, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.field-info {
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #ADADAD;
    margin-top: 3px;
    margin-left: 12px;
    margin-bottom: 6px;
}

.field input:disabled,
.field select:disabled {
    background-color: #E1F2FF;
}



.order__data {
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    color: #000000;
}

.order__badge {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    padding: 5px 17px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.55);
    border-radius: 4px;
    margin: 1px 0;

    background-color: red;
}

.order__badge--green {
    background: #27C100;
}

.order__badge--orange {
    background: #FAA61A;
}

.order__delete {
    border: none;
    background-color: transparent;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #42A5F5;
    cursor: pointer;
    user-select: none;
    text-align: right;
}
.order__delete:hover {
    color: rgb(57, 141, 209);
}

.order__delete i {
    font-size: 14rem;
}

.order__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

.field.promo {
    width: 190px;
    margin-right: 1px;
}

.field.discount {
    width: 90px
}

.field.discount input,
.field.delivery-price input {
    padding: 18px 18px 15px 35px;
}

.field.discount .icon {
    left: 15px;
    font-family: "Roboto", Arial, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.delivery-time.field select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 18px 10px 15px 38px;
}

.field.delivery-price .icon {
    left: 15px;
    font-family: "Roboto", Arial, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.field.delivery-date {
    width: 190px;
    margin: 0 22px 0 24px;
}
.field.delivery-time {
    width: 170px;
}
.field.adress {
    width: 576px;
    margin-right: 1px;
}

.field.delivery-price {
    width: 120px;
}

.field.note {
    width: 100%;
}

.field.note textarea {
    height: 76px;
}


.all-programms {
    margin-top: 9px;
}

.programm {
    margin: 24px 0;
    display: grid;
    grid-template-columns: 441px 1fr 120px;
    align-items: center;
}

.programm__info h2 {
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
}

.programm__info p {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #646464;
}

.programm .order__delete {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14px;
    margin: 0 auto;
}

.programm__price .icon {
    left: 15px;
    font-family: "Roboto", Arial, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.programm .field-info {
    margin-left: 11px;
}

.row.total {
    justify-content: flex-end;
}

.pre-total.row {
    justify-content: space-between;
}

.row.pre-total .add {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background: #0077C1;
    border-radius: 4px;
    border: none;
    padding: 19px 42px;
    align-self: baseline;
    cursor: pointer;
    transition: .1s linear;
}
.row.pre-total .add:hover {
    background-color: #42A5F5;
}

.row.total .field {
    width: 120px;
}

.row.pre-total input {
    background-color: #000;
    color: #fff;
    width: 120px;
    border-bottom: 1px solid #646464;
}

.row.total .icon {
    color: #fff;
    left: 15px;
}

.pay-method {
    display: flex;
    margin-right: 24px;
}

.pay-method>div {
    width: min-content;
    position: relative;
    padding-left: 24px;
}

.pay-method label {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #646464;
    cursor: pointer;
    user-select: none;
    padding-left: 40px;
    position: relative;
    display: block;
}

.pay-method label::before {
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #42A5F5;
    position: absolute;
    left: 3px;
    top: 11px;
}

.pay-method input {
    opacity: 0;
}

.pay-method input:checked~label::after {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #42A5F5;
    position: absolute;
    left: 8px;
    top: 16px;
}

.row.total button[type="submit"] {
    background: #E1FFE4;
    border-radius: 4px;
    border: none;
    padding: 21px;
    width: 120px;
    text-align: center;
    margin-top: 5px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #646464;
    transition: .1s linear;
}
.row.total button[type="submit"]:hover {
    background-color: #E1F2FF;
}

.field__edit-btn {
    position: absolute;
    cursor: pointer;
    right: -45px;
    top: 16px;
    border: none;
    background-color: transparent;
    color: #646464;
    font-size: 18rem;
}

.field.name {
    max-width: 280px;
}

.field.phone {
    max-width: 187px;
}

.field.birthday {
    max-width: 206px;
}

.field.gender {
    max-width: 164px;
}

.field.mail {
    max-width: 214px;
}

.personal-data button[type="submit"] {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background-color: #0077C1;
    border-radius: 4px;
    border: none;
    padding: 18px 19px;
    margin-top: 24px;
    transition: .1s linear;
    cursor: pointer;
}
.personal-data button[type="submit"]:hover {
    background-color: #42A5F5;
}


.order__grid {
    display: grid;
    grid-template-columns: 1fr 2fr 4fr 2fr 2fr;
    align-items: flex-start;
    margin: 24px 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #646464;
}

.order__header {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 36px;
    margin-top: 0;
}

.order__adress {
    text-align: left;
}

.order__header .order__adress {
    text-align: center;
}

.order__header i.icon {
    margin-right: 5px;
}

.personal-data .field {
    display: block;
}
.field.gender .icon {
    font-size: 13px;
}

@media (max-width: 984px) {
    .content {
        padding: 0;
    }

    .left-sidebar {
        min-width: 76px;
        width: 76px;
        overflow: hidden;
        padding-left: 12px;
        transition: .1s linear;
    }

    .left-sidebar:hover {
        min-width: 200px;
    }

    a.left-sidebar__logo {
        margin: 0;
        margin-left: 2px;
        margin-bottom: 30px;
    }

    nav.left-sidebar__navigation {
        margin-left: 9px;
    }

    .left-sidebar__navigation a i.icon {
        margin-right: 21px;
    }

    .left-sidebar__phone,
    .left-sidebar__footer {
        opacity: 0;
    }
}



@media (max-width: 860px) {


    .content {
        min-width: calc(100% - 76px);
    }

    .content__header {
        flex-wrap: wrap;
        width: 100%;
    }

    .content__header h1 {
        width: 100%;
    }

    .content__body {
        width: 100%;
    }

    .order__info {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 24px;
    }

    .order__badges {
        margin: 10px 0;
    }

    .row {
        align-items: flex-start;
        flex-direction: column;
    }

    .field.delivery-date {
        margin-left: 0;
    }

    .field.adress {
        width: 100%;
    }

    .programm {
        grid-template-columns: 9fr 1fr;
    }

    .programm__info p {
        display: none;
    }

    .field.programm__price {
        width: 120px;
        margin-top: 3px;
    }

    .row.total button[type="submit"] {
        margin-top: 15px;
    }

    .pay-method {
        flex-wrap: wrap;
    }

    .field__edit-btn {
        display: none;
    }

    .order__grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .order__adress,
    .order__price {
        display: none;
    }
    .row.pre-total .add {
        margin-bottom: 34px;
    }
    .row.total {
        margin-top: 20px;
    }
}

@media (max-width: 540px) {

    .left-sidebar:hover {
        min-width: 76px;
    }

    .pay-method>div {

        padding-left: 4px;
    }

    .pay-method>div:first-child {
        padding-left: 0;
    }

    .pay-method label {
        font-size: 14px;
        line-height: 16px;
        padding-left: 27px;
    }

    .pay-method label::before {
        top: 6px
    }

    .pay-method {
        flex-wrap: nowrap;
    }
}