@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
* {
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 1px;
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

img {
  max-width: 100%;
  display: block;
}


ul,
ol {
  list-style: none;
}

body,
button,
input,
textarea,
select,
input::placeholder,
textarea::placeholder {
    font-family: "Roboto", Arial, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  transition: .1s linear;
  cursor: pointer;
}

h2 {
  font-size: 32rem;
  line-height: 37px;
  text-transform: uppercase;
}


.icon {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* You can be more comfortable with increased icons size */
  /* font-size: 120%;rem/
    /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}